*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(241, 209, 163);
    color: rgb(7, 7, 7);
}

nav {
    background-color: rgb(22, 13, 1);
    color: #eb9868;
    font-size: 40;
    padding: 15px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.cart{
    border: 0px;
    padding: 10px;
    height: 100%;
    background-color:#0c0501a9 ;
    color: #fff;
}

.bg-img {
    background-image: url("bg-cart.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.button{
    margin-left: auto;
    background-color:#200f05 ;
    border: 1px solid  rgb(58, 35, 4);
    font-size:17px;
    padding: 4px 9px ;
    color: white;
    cursor: pointer;
    margin-top: 6px;
}
.list {
    display: flex;
    margin-top: 30px;
    color: #fff;
    margin-left: 20px;    
}
.container{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 40px;
}
.kif{
    padding: 3.5px;
}
.labe{
    font-size: 20px;
    margin-left: 4px;
}
.quantity{
    padding: 4px;
}
#T{
    font-size: 20px; 
}
#total{
    font-size: 18px;
}
#reset{
    margin-left: 10px;
}
.checkout{

    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 6px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
        
}
.checkout:hover {
    color: #200f05 !important;
    background: #ffb183ea;
    border-color: #200f05 !important;
    transition: all 0.8s ease -8s;
    }  
    
    .re{

        color:  #200f05 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 6px;
        border: 2px solid #494949 !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
        font-size: 12px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        cursor: pointer;
            
    }
    .re:hover {
        color: #030303 !important;
        background: #ffb183ea;
        border-color: #200f05 !important;
        transition: all 0.8s ease -8s;
        }      